<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Hello {name ?: "Qute"}</title>
    <link rel="stylesheet" href="/webjars/bulma/0.9.3/css/bulma.min.css">

</head>
<body>
<section class="section">
    <div class="container">
        <h1 class="title">
            Hello <b>{name ?: "Qute"}</b>
        </h1>
        <p class="subtitle">
            This is is a demo
        </p>
    </div>
</section>
</body>
</html>
