<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Hello {name ?: "Qute"}</title>
    <link rel="stylesheet" href="/webjars/bulma/0.9.3/css/bulma.min.css">

</head>
<body>
<section class="hero is-large is-info">
    <div class="hero-body">
        <h1 class="title">
            Hello <b>{greetee ?: "World"}</b>
        </h1>
        <p class="subtitle">
            If you can read this something seems to work ;)
        </p>
    </div>
</section>
</body>
</html>
